@import url("https://fonts.googleapis.com/css?family=Do+Hyeon|Open+Sans|Pacifico|Indie+Flower|Great+Vibes");
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.hint-container { 
  height: 100vh;
  overflow-y: scroll;
}

.hint-container::-webkit-scrollbar {
  display: none;
}

/* kuku */
.box {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  cursor: pointer;
  outline: none;
}

.box img {
  margin: -5px;
}

.kuku {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  z-index: -1;
}

.lid {
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%);
  bottom: 5.8em;
}

.jump {
  animation: 1s jump infinite alternate;
}

.move {
  animation: 1s wiggle infinite linear;
}

.rotating {
  animation: 1s rotating;
}

.rotated {
  transform: rotate(145deg) translate(-70%, -170px);
}

@keyframes wiggle {
  10%,
  90% {
    transform: translate(-50%) translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate(-50%) translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-50%) translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate(-50%) translate3d(4px, 0, 0);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg) translate(-50%, 0);
  }

  100% {
    transform: rotate(145deg) translate(-70%, -170px);
  }
}

@keyframes jump {
  from {
    bottom: 0;
  }
  to {
    bottom: 20em;
  }
}

.pageHeader {
  overflow-y: hidden;
  font-family: 'Great Vibes', cursive;
  line-height: 3rem;
  text-decoration: underline overline solid #333;
  letter-spacing: 3.5px;
  font-weight: bolder;
}

.hintP {
  text-align: center;
  font-size: 18px;
  line-height: 1.8rem;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  word-spacing: 0.4rem;
  letter-spacing: 0.08rem;
  /* padding-top: 1rem; */
  /* padding-bottom: 2rem; */
  padding-left: 10rem;
  padding-right: 10rem;
}

#bg-image1, #bg-image2, #bg-image3 {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* #bg-image3 {
  background-image: url(img/card.jpeg);
}

#bg-image2 {
  background-image: url(img/balloons.jpeg);
}

#bg-image1 {
  background-image: url(img/gifts.jpeg);
} */


/* Message */
.messages-container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.message-group-received {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.message-group-received > div:first-child {
  margin-top: auto;
  margin-right: 5px;
}

.message-group-received > div:last-child {
  flex-grow: 1;
}

.message-group-received > div:first-child > img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.message-received {
  max-width: 75%;
  margin: 2px 0;
  display: flex;
}

.message-received:first-child > .message-received-text {
  border-top-left-radius: 20px;
}

.message-received:last-child > .message-received-text {
  border-bottom-left-radius: 20px;
}

.message-received-text {
  padding: 10px;
  min-height: 20px;
  background: white;
  border-radius: 4px 20px 20px 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.message-group-sent {
  width: 100%;
  margin-bottom: 20px;
  text-align: right;
}

.message-sent {
  max-width: 75%;
  display: flex;
  margin: 2px 0 2px auto;
}

.message-sent-text {
  background: #1877F2;
  color: white;
  border-radius: 20px 4px 4px 20px;
  min-height: 20px;
  padding: 10px;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.message-sent:first-child > .message-sent-text {
  border-top-right-radius: 20px;
}

.message-sent:last-child > .message-sent-text {
  border-bottom-right-radius: 20px;
}

.message-sent-status {
  width: 15px;
  display: flex;
  margin-left: 5px;
  font-size: 15px;
  color: rgba(134, 142, 153, 0.5);
}

.message-sent-status > img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: auto;
}

.message-sent-status > i {
  margin-top: auto;
}


/* fliping card */
.card {
  width: 640px;
  height: 400px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 270px;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}
.card:hover {
  transform: rotate(-5deg);
}
.card:hover .outside {
  transform: rotateY(-130deg);
}
.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}
.inside {
  background: linear-gradient(to right, #D8D8D8, #ffffff 50%);
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50.1%;
}
.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}
.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.front {
  background-color: #ffffff;
}
.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #D8D8D8, #ffffff 50%);
}
.cake {
  width: 100%;
  position: absolute;
  bottom: 30px;
}
.top-layer,
.middle-layer,
.bottom-layer {
  height: 80px;
  width: 240px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(
      transparent 50px,
      #fedbab 50px,
      #fedbab 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #994c10 30px, #fcbf29 31px);
  border-radius: 10px 10px 0 0;
  position: relative;
  margin: auto;
}
.middle-layer {
  transform: scale(0.85);
  top: 6px;
}
.top-layer {
  transform: scale(0.7);
  top: 26px;
}
.candle {
  height: 45px;
  width: 15px;
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89e 5px,
    #ffa89e 10px
  );
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  bottom: 202px;
}
.candle::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 48px;
  transform: rotate(45deg);
  left: -1px;
}
.outside p {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 6px;
  color: #000046;
}
.inside h1 {
  font-size: 120px;
  line-height: 120px;
}

/*CODE*/
#code{
  float:left;
  text-align: left;
  background-color: white;
  margin-left: 30px;
  margin-top: 30px;
  width:700px ;
  height:700px;
  color:#333;
  font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
  font-size:16px;
  font-weight:bolder;
}
#code .string{
  color:#2a36ff
}
#code .keyword{
  color:#7f0055;
  font-weight:bold
}
#code .placeholder{
  margin-left:15px
}
#code .space{
  margin-left:7px
}
#code .comments{
  color:#3f7f5f
}

/*css button*/
.button-landing-page {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  min-width: 100px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.button-landing-page {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-landing-page:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-landing-page:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}